<%-include('header.ejs')%>
<title>Home</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/box-cart.css">
    <link rel="stylesheet" href="/css/slick-products.css">
    <link rel="stylesheet" href="/css/box-cart.css">
    <body>
        <div class="title-page">
            <a href=""><%= titlePage %></a>
        </div>
        <main>
            <section class="banner">
                <div class="slider">
                    <div class="image-item">
                         <img src="/img/banner/banner1.webp" width="100%" alt="">
                    </div>
                    <div class="image-item">
                        <img src="/img/banner/banner2.webp" width="100%" alt="">
                    </div>
                </div>
            </section>      
            <%-include('box-cart.ejs')%>  
            <section class="container-product">
                <h2>SẢN PHẨM MỚI </h2>
                <div id="productNew" class="container container__slick--product">
                    <% newProduct.forEach(function(e) { %>
                        <% const priceSale = e.price * (1 - e.sale / 100); %>
                            <a href="/product-detail/<%= e.id %>">
                                <div class="product">
                                    <div class="product-img">
                                        <img src="<%= e.image %>" alt="">
                                    </div>
                                    <div class="product-name">
                                        <p><%= e.name %></p>
                                    </div>
                                    <div class="product-price">
                                        <% if (e.sale > 0) { %>
                                            <div class="price">
                                                <span><%= priceSale.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></span>
                                            </div>
                                            <div class="price-sale">
                                                <span><%= e.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></span>
                                            </div>
                                        <%} else if(e.sale == 0) { %>
                                            <div class="price">
                                                <span><%= e.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></span>
                                            </div>
                                        <% } %>
                                    </div>                           
                                    <div class="product-view-love">
                                        <div class="view">
                                            <i class="fa-regular fa-eye"></i><p><%= e.view %></p>
                                        </div>
                                    </div>
                                    <% if (e.sale > 0) { %>
                                        <div class="sale-tag"><%= e.sale %>%</div>
                                    <% } %>
                                    <div class="product-btn">
                                        <button class="btn-buy">MUA NGAY</button>
                                        <button class="btn-add"><i class="fa-solid fa-cart-plus"></i></button>
                                    </div>
                                </div>
                            </a>
                    <% }); %>
                    
                </div>
            </section>
            <section class="container-item">
                <div class="box-item">
                    <div class="icon"><i class="fa-solid fa-swatchbook"></i></div>
                    <div class="content">
                        <h3>Mẫu mã đa dạng</h3>
                        <p>Hoàn tiền gấp đôi nếu phát hiện hàng giả</p>
                    </div>
                </div>
                <div class="box-item">
                    <div class="icon"><i class="fa-solid fa-truck-fast"></i></i></div>
                    <div class="content">
                        <h3>Miễn phí vận chuyển</h3>
                        <p>Giao hàng nhanh, đóng gói cẩn thận</p>
                    </div>
                </div>
                <div class="box-item">
                    <div class="icon"><i class="fa-solid fa-rotate-right"></i></i></i></div>
                    <div class="content">
                        <h3>Đổi hàng 7 ngày</h3>
                        <p>1 đổi 1 trong 7 ngày với sản phẩm lỗi</p>
                    </div>
                </div>
                <div class="box-item">
                    <div class="icon"><i class="fa-solid fa-shield"></i></i></i></i></div>
                    <div class="content">
                        <h3>Bảo hành 5 năm</h3>
                        <p>Thủ tục nhanh gọn, thay pin miễn phí</p>
                    </div>
                </div>
            </section>
            <section class="container-product-bestseller">
                <div id="topSeller" class="product-main">
                    <% topSellerProduct.forEach(function(e) { %>
                        <a href="/product-detail/<%=e.id%>">
                            <img src="<%= e.image %>" alt="">
                            <div class="purchase">
                                <p>Lượt mua : + <%=e.purchases%></p>
                                <p style="color: red; "><%=e.price.toLocaleString('vi-VN', {
                                        style: 'currency',
                                        currency: 'VND',
                                    }) %>
                                </p>
                            </div>
                            <div class="hot"><img src="/img/banner/bestseller.png" style="width: 180px; height: 180px;"></i></div>
                            <button style="width: 100%;" class="btn-buy">MUA NGAY</button>
                        </a>
                        
                    <% }); %>
                </div>
                <section style="width: 100%; border: none;" class="container-product">
                    <h2> SẢN PHẨM BÁN CHẠY </h2>
                    <div id="productSeller"  class="container slickProducts_3items">
                        <% sellerProduct.forEach(function(e) { %>
                            <% const priceSale = e.price * (1 - e.sale / 100); %>
                                <a href="/product-detail/<%= e.id %>">
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="<%= e.image %>" alt="">
                                        </div>
                                        <div class="product-name">
                                            <p><%= e.name %></p>
                                        </div>
                                        <div class="product-price">
                                            <% if (e.sale > 0) { %>
                                                <div class="price">
                                                    <span><%= priceSale.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></span>
                                                </div>
                                                <div class="price-sale">
                                                    <span><%= e.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></span>
                                                </div>
                                            <%} else if(e.sale === 0) { %>
                                                <div class="price">
                                                    <span><%= e.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></span>
                                                </div>
                                            <% } %>
                                        </div> 
                                        <div class="product-view-love">
                                            <div class="view">
                                                <i class="fa-regular fa-eye"></i><p><%= e.view %></p>
                                            </div>
                                        </div>
                                        <% if (e.sale > 0) { %>
                                            <div class="sale-tag"><%= e.sale %>%</div>
                                        <% } %>
                                        <div class="product-btn">
                                            <button class="btn-buy">MUA NGAY</button>
                                            <button class="btn-add"><i class="fa-solid fa-cart-plus"></i></button>
                                        </div>
                                    </div>
                                </a>
                        <% }); %>            
                    </div>
                </section>
            </section>
            <section class="container-product">
                <h2>SẢN PHẨM GIẢM GIÁ</h2>
                <div id="productSale" class="container container__slick--product">
                    <% saleProduct.forEach(function(e) { %>
                        <% const priceSale = e.price * (1 - e.sale / 100); %>
                            <a href="/product-detail/<%= e.id %>">
                                <div class="product">
                                    <div class="product-img">
                                        <img src="<%= e.image %>" alt="">
                                    </div>
                                    <div class="product-name">
                                        <p><%= e.name %></p>
                                    </div>
                                    <div class="product-price">
                                        <% if (e.sale > 0) { %>
                                            <div class="price">
                                                <span><%= priceSale.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></span>
                                            </div>
                                            <div class="price-sale">
                                                <span><%= e.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></span>
                                            </div>
                                        <%} else if(e.sale === 0) { %>
                                            <div class="price">
                                                <span><%= e.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></span>
                                            </div>
                                        <% } %>
                                    </div> 
                                    <div class="product-view-love">
                                        <div class="view">
                                            <i class="fa-regular fa-eye"></i><p><%= e.view %></p>
                                        </div>
                                    </div>
                                    <% if (e.sale > 0) { %>
                                        <div class="sale-tag"><%= e.sale %>%</div>
                                    <% } %>
                                    <div class="product-btn">
                                        <button class="btn-buy">MUA NGAY</button>
                                        <button class="btn-add"><i class="fa-solid fa-cart-plus"></i></button>
                                    </div>
                                </div>
                            </a>
                    <% }); %>         
                </div>
            </section>
            <section class="container-about">
                <div class="left">
                    <img src="/img/logo/favicon.svg" alt="">
                </div>
                <div class="right">
                    <div class="box-content">
                        <h1>RUBY</h1>
                        <h2> - nơi trải nghiệm đẳng cấp và sang trọng của thế giới đồng hồ cao cấp. 
                            Khám phá sự hoàn hảo cùng RUBY - nơi thời gian trở nên vô cùng quý phái.
                        </h2>
                       <div class="btn-xem">
                            <button class="btn-xemthem">Khám phá ngay <i class="fa-solid fa-arrow-right"></i></button>
                       </div>
                    </div>
                </div>
            </section>
            <section class="container-brand">
                <h2 style="margin-bottom: 20px;"> CÁC THƯƠNG HIỆU </h2>
                <div id="categories" class="container slick-category">
                    <% for(let e of category){%>
                        <div class="box-content">
                            <a href="/shop/<%=e.id%>"> <img src="/<%=e.image%>" alt=""></a>
                        </div>
                    <%}%>
                   
                </div>
            </section>
        </main>
        <%-include('footer.ejs')%>
    </body>
<script src="/js/menu.js"></script>
<script src="/js/slick.js"></script>
<script src="/js/addcart.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-1.11.0.min.js"
></script>
<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
></script>
</html>
